<div class="files-menu-wrapper">
  <button class="btn-circle" (click)="isOpen = !isOpen">
    <div class="counter-badge">{{ (listFiles$ | async)?.length }}</div>
  </button>

  <div class="menu" [ngClass]="{ open: isOpen }">
    <ul class="list-files">
      <li *ngFor="let fl of listFiles$ | async">
        <div class="lnk" (click)="downloadFile(fl.fileName)">
          <img
            src="/assets/svg/download-1453-svgrepo-com.svg"
            class="download-icon"
            alt="Download file"
          />
          <div class="file-name-break">{{ fl.fileName }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
